<h1>Select User</h1>

<%= form_tag do %>
    <%= label_tag :user_name %>
    <%= select_tag :user_name, options_from_collection_for_select(@users, :name, :name) %> <br>
    <%= label_tag :user_password %>
    <%= password_field_tag :user_password %>
    <%= submit_tag "Sign In" %>
<% end %>